<h1>add-resto works!</h1>
<form [formGroup]="addResto" (ngSubmit)="collectResto()">
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Enter Name">
    
    </div><br>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Enter Email">
    
    </div><br>
    <div class="form-group">
        <label for="exampleInputEmail1">username</label>
        <input type="text" class="form-control" formControlName="username"  placeholder="Enter Username">
    
    </div><br>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
