<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Resto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only"></span></a> -->
            <a  class="nav-item nav-link "routerLink="add">Add Restorent</a>
            <a  class="nav-item nav-link "routerLink="">List Restorent</a>
            <a  class="nav-item nav-link "routerLink="login">Login Restorent</a>
            <a  class="nav-item nav-link "routerLink="register">Register Restorent</a>
            <!-- <a class="nav-item nav-link " routerLink="restorent"> Restorent</a> -->
            <!-- <a  class="nav-item nav-link "routerLink="update">Update Restorent</a> -->
        </div>
    </div>
</nav>




<div class="container">
    <router-outlet></router-outlet>
<footer class="footer">
    <p>
        footer user list
    </p>
</footer>
</div>



